@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    src: url('fonts/Montserrat-Bold.ttf');
}

.root {
    -fx-font-family: 'Montserrat';
    -fx-background-image: url("images/background.png");
}

Button, ToggleButton {
    -fx-cursor: hand;
}

#gameBoard {
    -fx-border-color: gainsboro;
    -fx-border-width: 12px;
}

#menu {
    -fx-spacing: 12;
}

.score {
    -fx-font-size: 20;
}

#title {
    -fx-font-size: 28;
    -fx-font-weight: bold;
}

.menu-button {
    -fx-padding: 8;
    -fx-background-radius: 9, 8, 5, 4, 3;
    -fx-background-color: linear-gradient(to bottom, #074e85, #074e85 50%, #003761 50%, #003761);
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(one-pass-box, rgb(9, 93, 159), 0, 1.0, 0, 5);
}

#help {
    -fx-padding: 8;
    -fx-spacing: 4;
}

#help Text {
    -fx-font-size: 10px;
}

.game-over {
    -fx-font-size: 32;
    -fx-background-color: red;
}